
@model ProductCreateVM

@* <h>Product Ekleme Paneli</h> *@

<div class="row">
    <div class="col-md-6 offset-3">
        <form asp-action="Create" method="post">

            <div class="form-group">
                <label asp-for="Product.ProductName" class="form-label"></label>
                <input asp-for="Product.ProductName" class="form-control" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.Price" class="form-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Stock" class="form-label"></label>
                <input asp-for="Product.Stock" class="form-control" />
                <span asp-validation-for="Product.Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ExpireDate" class="form-label"></label>
                <input asp-for="Product.ExpireDate" class="form-control" />
                <span asp-validation-for="Product.ExpireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryId" class="form-label"></label>
               <select class="form-select" asp-for="Product.CategoryId" asp-items="@Model.Categories">
                    <option>Lütfen seçim yapınız</option>
                </select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.SupplierId" class="form-label"></label>
                <select class="form-select" asp-for="Product.SupplierId" asp-items="@Model.Suppliers">
                    <option>Lütfen seçim yapınız</option>
                </select>
                <span asp-validation-for="Product.SupplierId" class="text-danger"></span>
            </div>

            <div class="form-group">

                <input type="submit" value="Ekle" class="btn btn-success" />

            </div>

        </form>
    </div>

</div>